html,
body {
    margin: 40;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

:root {
    --main-color: rgb(3, 206, 3);
    --secondary-color: blue;
}

.calculatorMainContainer {
    height: 620px;
    background-color: gray;
    width: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.writePartContainer {
    font-size: 3rem;
    font-family: orbitron;
    height: 100px;
    width: 460px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.keyboardContainer {
    height: 430px;
    width: 460px;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    font-size: 3rem;
    font-family: orbitron;
    background-color: var(--main-color);
    height: 107px;
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#C {
    font-size: 3rem;
    font-family: orbitron;
    background-color: rgb(240, 30, 30);
    height: 107px;
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#iqual {
    font-size: 3rem;
    font-family: orbitron;
    background-color: rgb(255, 255, 31);
    height: 107px;
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#add,
#divide,
#multiple,
#less {
    font-size: 3rem;
    font-family: orbitron;
    background-color: var(--secondary-color);
    height: 107px;
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}